body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: rgba(189, 187, 189, 0.198);
}

/*Navbar*/
.navbar{
  background-color: #fff;
}
.nav-item{
  margin-top: 10px;
}
 .nav-item a:hover {
  border-bottom: 3px solid rgba(21, 200, 206, 0.904);
   width: fit-content; 
 }


/* carousel */
.carousel-caption {
  top: 30%;
  transform: translateY(-20%);
}

#carousel-indicators li {
  margin-top: auto;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
@media screen and (max-width: 544px) {
  .carousel-caption h1 {
    font-size: 50px;
  }
  .carousel-caption p {
    font-size: 40px;
  }
}


/*Announcemts Section*/
@media screen and (max-width:515px) {
  .Banner{
    margin: 10px 0px;
  }
  .Banner p {
    margin-left: 0px !important;
    font-size: 11px;
  }
}

/*Section 1*/
.section1 h1{
  color: white;
  float:right;
  font-size: 150px;
  opacity: 0.2;
}
.section1 h6{
  color: white;
  font-size: 25px;
}

.play-button-div {
  position: relative;
}

.play-button-div li {
  height: 40px;
  width: 40px;
}

.play-button-icon {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.icon-background2 {
  color: skyblue;

}

.play-button-div h5 {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.play-button-div button {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);

}

/*Section 2*/
.section2 div h5{
  margin-top: 15px;
  margin-left: 10px;
}
.section2 div p{
  padding-left:15px;
}
.section2 div
button {
  border-radius: 20px;
  padding: 5px 20px;
  margin-bottom: 15px;
  margin-left: 15px;
}
 .section2 .content-item:hover{
background-color: skyblue !important;
 }
.main-img img{
  border-top: 2px solid rgba(21, 200, 206, 0.904);
}

/*striaght row*/
.part3 {
  background-image: url("../images/helpcenter2.jpg");
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: -150px;
}
.contentitem h5 {
  color: black;
}
.contentitem h5,
a {
  margin-top: 10px;
}

.part3 .contentitem {
  background-color: white;
  padding: 30px;
  margin: 20px 10px;
}

.part3 div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

.contentitem:hover {
  background-color: rgb(27, 154, 204) !important;
  color: white ;
}

.contentitem:hover a{
  color: white;
  text-decoration: none;
}
.contentitem:hover h5 {
  color: white;
  text-decoration: none;
}

/*Helpcenter*/

.helpcenter-header h3{
   border-bottom: 3px solid rgba(21, 200, 206, 0.904);
   width: fit-content;
}

.helpcenter h5 {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #fff 50%, rgb(27, 189, 218) 50%);
  transition:
    background-position .2s ease-in-out,
    color .2s ease-in-out;
}

.helpcenter h5:hover {
  background-position: 0 100%;
  color: #fff;
}


/*Footer*/
.mainfooter .aboutus h6 {
  border-bottom: 3px solid rgba(21, 200, 206, 0.904);
  width: fit-content;
}

.mainfooter .footer-social li {
  margin: 5px 10px;
  border: 1px solid white;
  padding: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 20px;
  border-radius: 100%;
}

.mainfooter .footer-social li:hover {
  cursor: pointer;
  background-color: rgb(29, 150, 190);
}

.mainfooter .useful-links h4 {
  border-bottom: 3px solid rgba(21, 200, 206, 0.904);
  width: fit-content;
}

.mainfooter .useful-links li a {
  text-decoration: none;
}

@media screen and (max-width:405px) {
  .useful-links .main-flex-box {
    display: flex;
    flex-direction: column;
  }
}